﻿* {
	box-sizing: border-box;
}

/* DIV tags */
html {
	min-height: 100vh;
}
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}
#container {
	overflow: auto;
	width: 90%;
	margin: 15px auto;
	padding: 0;
	flex: 1 0 auto;
}
#header {
	margin: 10% auto auto;
	width: 80%;
	border: 0px solid;
	padding: 2px;
}
#footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}
#main {
	overflow: hidden;
}
