﻿@import url("/css/layout.css");

body {
	font-family: 'Noto Sans';
	font-size: small;
	color: #ccc;
	background: #000000;
	background: -moz-linear-gradient(-45deg, #000000 0%,#330000 100%);
	background: -webkit-linear-gradient(-45deg, #000000 0%,#330000 100%);
	background: linear-gradient(135deg,#000000 0%,#330000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#330000',GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
	font-size: 5em;
	color: #ffffff;
	text-align: center;
	text-shadow: -3px 2px 1px #000000;
}
p {
	padding: 0 1em;
}

#footer {
	text-align: center;
	font-size: x-small;
	color: #aaa;
}
