<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
		<link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css">
		<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="HandheldFriendly" content="true">
	</head>
	<body>
		<div id="header">
			<div class="title">Dating &amp; Dragons</div>
		</div>
		