{{ partial "header.html" . }}
	<div id="container">
		<div id="main">
			<h1>Oops!</h1>
			<p><strong>It seems <script type="text/javascript">document.write(location.pathname)</script> doesn't exist. Fear not! There's a few easy things to do here:</strong>
			<ul>
				<li>If you typed the address in yourself, double check your spelling.</li>
				<li><script type="text/javascript">document.write('<a href="' + document.referrer + '" onclick="history.go(-1); return false;">Go back</a>')</script> to whichever page sent you here</li>
				<li>Go to the <a href="/">home page</a>.</li>
			</ul>
		</div>
	</div>
{{ partial "footer.html" . }}